# フォントたち
Junicode.ttf
Junicode-Bold.ttf
Junicode-Italic.ttf
Junicode-BoldItalic.ttf
TheSansMonoCd-W3Light.otf
TheSansMonoCd-W3LightItalic.otf
TheSansMonoCd-W5Regular.otf
TheSansMonoCd-W5RegularItal.otf
TheSansMonoCd-W7Bold.otf
TheSansMonoCd-W7BoldItalic.otf
TsukushiAMaruGothic.ttc
NotoColorEmoji.ttf
